// Utilities
.glassmorphism {
    background: rgba(43, 47, 50, 0.6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid var(--accent-color);
}

.dropdown-toggle {
    &#accountBtn::after {
        vertical-align: 0.355em !important;
    }
    &::after {
        vertical-align: 0.055em !important;
        transition: all 0.3s ease-in-out !important;
    }

    &.show::after {
        transform: rotate(180deg) !important;
    }
}

.dropdown-menu {
    border-radius: 0.75rem;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);

    &.dropdown-primary {
        background-color: $dropdown-primary-bg;
        color: $dropdown-primary-color;

        .dropdown-item {
            color: $dropdown-primary-color;

            &:hover {
                background-color: rgba($text-light, 0.1);
            }
        }
    }

    &.dropdown-accent {
        background-color: $dropdown-accent-bg;
        color: $dropdown-accent-color;

        .dropdown-item {
            color: $dropdown-accent-color;

            &:hover {
                background-color: rgba($text-light, 0.1);
            }
        }

        &-dark {
            background-color: $dark;
            color: $accent-dark-color;

            .dropdown-item {
                color: $accent-dark-color;

                &:hover {
                    background-color: lighten($accent-dark-bg, 10%);
                }
            }
        }
    }
}

// Navbar dropdown behavior (desktop)
@media (min-width: 992px) {
    .navbar {
        .nav-link.active {
            color: lighten($primary-color, 15%);
            font-weight: bold;
        }
        .dropdown-menu {
            position: absolute !important;
            pointer-events: none !important;
            opacity: 0 !important;
            transform: translateY(-30px);
            transition: opacity 0.3s ease, transform 0.3s ease,
                visibility 0.3s ease !important;
            display: block !important;
            visibility: hidden !important;

            &.show {
                opacity: 1 !important;
                transform: translateY(0) !important;
                visibility: visible !important;
                pointer-events: auto !important;
            }
            &-end {
                right: 0 !important;
                left: auto !important;
            }
        }
    }

    // Optional: Hilangkan backdrop offcanvas di desktop
    div.offcanvas-backdrop.show {
        display: none !important;
    }
}

// Navbar dropdown (mobile / offcanvas)
@media (max-width: 991.98px) {
    .offcanvas {
        .dropdown-menu {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transform: translateY(-30px);
            transition: all 0.3s ease;
            display: block !important;
            position: static !important;
            transform: none !important;

            &.show {
                max-height: 500px;
                opacity: 1;
                transform: translateY(0);
            }
        }

        .dropdown-item {
            padding-left: 1.5rem;
        }
    }
}
